.anime {
  background-color: #2b3566;
  margin: 2.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.anime p {
  margin: 0.5rem;
}

.anime img {
  width: 100%;
  height: 10%;
}
