.inputs_container {
  display: flex;
  background-color: #2b3566;
  flex-direction: row;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 1rem;
}

.search_animes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.register_anime {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: small;
  align-items: center;
}

.register_anime input {
  margin: 1%;
  height: 2rem;
  width: 20rem;
  color: #2b3566;
  font-size: small;
  border: none;
  padding: 1rem;
}

.register_anime button {
  color: black;
  font-size: 1.5rem;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  width: 20rem;
  transition: 1s;
}

.register_anime button:hover {
  background-color: gray;
}

.result_container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.result_container .intro img {
  width: 20rem;
  height: 20rem;
}

.result_container .intro h2,
.result_container .intro p {
  margin: 1rem;
}

.result_container .intro p {
  margin: 1rem;
  text-align: start;
}

.animes_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.anime_container {
  width: 40%;
  margin: 2rem;
}

.new_anime {
  background-color: #2b3566;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}

.new_anime .new_anime_content {
  width: 50rem;
  margin-right: 0;
}

.new_anime h1,
h2,
h3,
h4,
h5 {
  margin: 1rem;
}

.new_anime img {
  align-self: flex-end;
  margin-left: 30rem;
  height: 20rem;
  width: 20rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto;
}

.modal_content {
  background-color: white;
  max-width: 80%;
  max-height: 80%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow-y: auto;
}

.modal_content h2 {
  color: #2b3566;
}

.modal_content button {
  background-color: darkslateblue;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.modal_content button:last-child {
  background-color: red;
}

.modal_content button:hover {
  transform: translateY(-2px);
  background-color: transparent;
  color: black;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
}

.modal_content div,
.modal_content div label {
  color: black;
  font-size: larger;
}

.modal_content div {
  margin: 1rem 0;
}

.modal_content div input,
.modal_content div textarea,
.modal_content div label,
.modal_content div select,
.modal_content div select option {
  width: 100%;
  margin: 0.2rem 0;
  color: black;
  border: none;
  font-size: large;
  padding: 0.5rem;
}

.modal_content div input {
  height: 2rem;
}

.modal_content div textarea {
  height: 6rem;
  resize: none;
  padding: 0.1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
